<table style="width:100%">
    <tr>
        <th>Task</th>
        <th>Due Date </th>
        <th>Assigned To</th>
        <th>Delete</th>
        <th>Complete</th>
    </tr>

    <% @tasks.all.each do |task| %>
        <% if task.completed %>
        <tr>
            <td><%= task.description %></td>
            <td> <%= task.due_date.strftime("%B %d, %Y") unless task.due_date.nil?  %> </td>
            <% if @user.first_name.nil? %>
                <td> <%= task.user.name %> </td>
            <% else %>
                <td> <%= task.user.first_name %>
            <% end %>
            
            <% if task.user_id = @user.id %>
                <td> <%= button_to "Delete Task", task_path(task), method: :delete %> </td>
            <% else %>
                <td></td>
            <% end %>
            <td> Completed </td>
        </tr>
        <% end %>
    <% end %>
</table>
