<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<br>

  <%= form_for(@task) do |f| %>
    <div>
        <%= f.label :description, "Description:" %>
        <%= f.text_field :description, class: "task-form" %>
    </div>


    <div>
        <%= f.label :due_date, "Due Date:"%>
        <%= f.date_select :due_date, class: "task-form" %>
    </div>


    <div>
        <%= f.label :project_id, "Please choose the project for this task:" %><br>
        <%= f.collection_select :project_id, Project.all, :id, :name %>
    </div>



    <% if @user %>
       <%= f.hidden_field :user_id  %>
    <% else  %>
      <div>
        <%= f.label :user_id, "Select the User for this task:" %><br>
        <% if @user.provider.nil? %>
            <%= f.collection_select :user_id, User.all, :id, :first_name %>
        <% else %>
            <%= f.collection_select :user_id, User.all %>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Submit", class: "task-submit" %>
    </div>
  <% end  %>
</div>
