<% if @task.errors.any? %>
    <div class="error_msg">
        <h2>
        <%= pluralize(@task.errors.count, "error") %>
        prohibited this post from being saved:
        </h2>

        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<br><br><br><br><br>
<%= form_for(@task) do |f| %>
    <div>
        <%= f.label :description, "Description:" %>
        <%= f.text_field :description, class: "task-form-field" %>
    </div>
    <div>
        <%= f.label :due_date, "Due Date:"%>
        <%= f.date_select :due_date, class: "task-form-field" %>
    </div>
    <div>
        <%= f.label :project_id, "Please choose the project for this task:" %><br>
        <%= f.collection_select :project_id, Project.all, :id, :name %>
    </div>



    <% if !@user %>
       <%= f.hidden_field :user_id  %>
    <% else  %>
      <div>
        <%= f.hidden_field :user_id  %>
        <%= f.label :user_id, "Select the User for this task:" %><br>
        <%= f.collection_select :user_id, User.all, :id, :first_name %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Submit", class: "task-submit" %>
    </div>
  <% end  %>
</div>
