<table class="table-labels">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Project</th>
      <th scope="col">Due Date </th>
      <th scope="col">Assigned To</th>
      <th scope="col">Edit/Delete</th>
      <th scope="col">Complete</th>
    </tr>
  </thead>
  <tbody style="width:100%">
    <% @tasks.all.each do |task| %>
      <% if !task.completed %>
        <tr>
            <td><%= task.description %></td>
            <td> <%= task.project.name %> </td>
            <td> <%= task.due_date.strftime("%B %d, %Y") unless task.due_date.nil?  %> </td>
            <% if current_user.first_name.nil? %>
                <td> <%= task.user.name %> </td>
            <% else %>
                <td> <%= task.user.first_name %>
            <% end %>
            
            <% if current_user.id %> 
              
              <% if task.project %>
                <td> <%= link_to "Edit", edit_task_path(task) %> <hr> <%= button_to "Delete Task", task_path(task), method: :delete %></td>
              <% end %>
            <% else %>
              <td></td>
            <% end %>

            <% if task.user_id == current_user.id %>
              <td> <a class="" href="/tasks/<%= task.id %>/complete">Complete</a></td>
            <% else %>
              <td>Not Complete</td>
            <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
