<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Swift Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>

      * {
        font-family: 'Source Sans Pro', sans-serif;
      }

      a {
        display: block;
        padding: 4px;
        background-color: none;
      }

      body {
        margin: 0;
      }

      button {
        border-radius: 20px;
        background-color: #00429B;
        text-align: center;
        display: block;
        margin: 0 auto;
        height: 10%;
        width: 20%;
        border: 2px solid rgba(217,243,255, 0.4);
      }

      button:hover {
        border-radius: 20px;
        background-color: #00429B;
        text-align: center;
        display: block;
        margin: 0 auto;
        height: 10%;
        width: 20%;
        border: 3px solid rgba(217,243,255, 0.4);
      }

      button a {
        text-decoration: none;
        font-size: 26px;
        color: white;
      }

      .copyright {
        color: white;
      }

      #dash {
        font-size: 2.5rem;
      }

      footer {
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .footer {
        background-color: rgb(30,30,30);
        height: 10vh;
        padding-left: 5%;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      .footer-links {
        background-color: rgb(30,30,30);
        display: block;
        float: left;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: lightgrey;
        padding: 1%;
        padding-top: 2%;
        margin: auto;
      }

      .footer-links:hover {
        background-color: black;
        text-decoration: none;
        color: white;
        padding: 1%;
        padding-top: 2%;
        margin: 0;
      }

      h1 {
        justify-content: center;
        text-align: center;
        padding-top: 10%;
        margin: 0;
        font-size: 4rem;
      }

      h3 {
        justify-content: center;
        text-align: center;
        padding-bottom: 1%;
        margin: 0;
        font-size: 2rem;
        color: rgb(30,30,30);
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 1px 15px;
        text-decoration: none;
      }

      .list-item {
        padding: .3em;
        padding-top: 1%;
        padding-bottom: 10px;
      }

      .list-right {
        float: right;
        padding: .5em;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .navbar-container {
        background-color: white;
        margin: auto;
      }

      .navbar-ul {
        margin: 0;
      }

      .nav-brand {
        background-color: none !important;
        color: black;
        padding-top: 0.3%;
        padding-left: 1%;
        font-weight: bold;
        font-size: 1.5em;
      }

      a.nav-link {
        font-weight: bold !important;
        font-size: 18px;
        color: rgba(80,80,80,1);
      }

      a.nav-link:hover {
        font-weight: bold !important;
        font-size: 18px;
        color: black;
      }

      .login {
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: lightblue;
        font-size: 1.1rem;
        padding: 8px;
      }

      .login:hover {
        background-color: lightblue;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: white;
        font-size: 1.1rem;
        padding: 8px;
      }

      p {
        padding-left: 5%;
        padding-right: 5%;
      }

      section {
        height: 90vh; 
      }

      div.section {
        border: 1px solid grey;
        border-radius: 2px;
        background-color: rgba(10,10,10,0.1);
        margin: 10%;
        padding: 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .signup {
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: lightgreen;
        font-size: 1.1rem;
        padding: 8px;
        margin: 0;
      }

      .signup:hover {
        background-color: lightgreen;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: white;
        font-size: 1.1rem;
        padding: 8px;
      }

      #slashes {
        font-size: 2.2rem;
        font-weight: bold;
        color: rgba(0,66,155,0.9);
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        -webkit-box-shadow: 0px 1px 15px -6px #000000; 
        box-shadow: 0px 1px 15px -6px #000000;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        
      }

      ul.footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        border: .5px solid lightgrey;
        -webkit-box-shadow: 0px 1px 15px -6px #000000; 
        box-shadow: 0px 1px 15px -6px #000000;
      }
    </style>

    
    
    <nav id="navbar">
      <div class="navbar-container">
        <ul class="navbar-ul">

          <li class="nav-brand"><a href="/"> <span id="slashes">//</span> SWIFT TASK </a></li>

          <li class="list-item"><a class="nav-link" href="/"> HOME </a></li>
          <li class="list-item"><a class="nav-link" href="/about"> ABOUT </a></li>

          <li class="list-right"><a class="login" href="/login">LOG IN</a></li>
          <li class="list-right"><a class="signup" href="/signup">SIGN UP</a></li>
        </ul>
      </div>
    </nav>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky");
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>

  <body>
    <%= yield %>
  </body>

  <%# <footer>
    <div class="footer">
      <a class="footer-links" href="#">Home</a>
      <a class="footer-links" href="#">About</a>
      <a class="footer-links" href="#">Profile</a>
      <a class="footer-links" href="#">Tasks</a>
      <a class="footer-links" href="#">Careers</a><br>
      <p class="copyright"> &copy; <em>Matthew Palmer Projects</em> </p>
    </div>
  </footer> %>
</html>
